{% extends "studyplanner/base.html" %}
    {% block content %}
    <head>
{% if tasks %}
    {% load static %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function daysToMilliseconds(days) {
      return days * 24 * 60 * 60 * 1000;
    }

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');


      data.addRows([
        ['Research', 'Finding Sources', new Date(2019, 0, 132), new Date(2019, 0, 137), null,  100,  null],
        ['Write', 'Write paper', null, new Date(2019, 0, 139), daysToMilliseconds(1), 25, 'Research,Outline'],
        ['Cite', 'Create bibliography', null, new Date(2019, 0, 138), daysToMilliseconds(1), 20, 'Research'],
        ['Complete', 'Hand in paper', null, new Date(2019, 0, 140), daysToMilliseconds(1), 0, 'Cite,Write'],
        ['Outline', 'Outline paper', null, new Date(2019, 0, 136), daysToMilliseconds(1), 100, 'Research']
      ]);

      var options = {
        height: 400
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }</script>
{% endif %}
    </head>
<h1>{{ m.module_name }}<br>
{{ m.module_code }}</h1>
<div class="container>">
<div class="list-group">
{% if courseworks or exams %}
{% endif %}

{% if courseworks %}
<p> </p>
          <h3>{{ "Courseworks Deadlines" }}</h3>
        {{ "Click assesment to add a task" }}
        {% for cw in courseworks %}
            <button type="button" class="list-group-item list-group-item-action">
                <a href="{% url 'studyplanner:detail' m.id%}"><a href="{% url 'studyplanner:task_new'  m.id cw.id%}">{{ cw.cw_name}} {{ "  Deadline: " }}{{ cw.cw_deadline }}</a></a> </button>
        {% endfor %}

{% endif %}
{% if exams %}
        <h3>{{ "Exam Deadline" }}</h3>
        {% for e in exams %}
            <button type="button" class="list-group-item list-group-item-action"> <a href="{% url 'studyplanner:detail' m.id%}"><a href="{% url 'studyplanner:task_new'  m.id e.id%}">{{ e.cw_name}} {{ "  Date: " }}{{ e.cw_deadline }}</a> </a></button>
        {% endfor %}
{% endif %}

{% if tasks %}
<h3>{{ "Tasks" }}</h3>
    <ul>
        {% for t in tasks %}
            <button type="button" class="list-group-item list-group-item-action"> <a href="{% url 'studyplanner:detail' m.id%}"><a href="{% url 'studyplanner:edit_task'  m.id t.id%}">{{ "Name:" }}{{ t.task_name}}  {{ "Start:" }}{{ t.date_start }}   {{ "Due:" }}{{ t.date_due }}</a></a></button>
        {% endfor %}

    </ul>
{% endif %}
</div>
</div>

</div>
</div>
</div>

    <div class="col-md-25">
    <div id="chart_div" list={{ tasks }} > </div>

    </div>
    <form method="post">
    {% csrf_token %}<br>
    <button  type="submit"  name="Back" class="btn btn-success">Back</button>
                    <button type="button" class="btn btn-success"> <a href="{% url 'studyplanner:detail' m.id%}"><a href="{% url 'studyplanner:milestone_new'  m.id%}">Add Milestone</a></a></button>
    </form>
{% endblock content %}