{% extends "studyplanner/base.html" %}
{% block content %}

<div class="row">
	<div class="side">
		<h1>Spring Semester</h1>
			<div class="list-group">
			{% if all_modules %}
			    
			    {% for m in all_modules %}
			       <button type="button" class="list-group-item list-group-item-action"> <a href="{% url 'studyplanner:detail' m.id%}">{{ "Module: " }}{{ m.module_name}}  {{ "Code: " }} {{ m.module_code }}  {{ "Duration: " }} {{ m.module_duration }}</button>
			    {% endfor %}
			    
			{% else %}
			    <p>No Modules available.</p>
			{% endif %}
			</div>
    </div>
</div>
<br><p></p>
<div class="col-md-25">
<div id="chart_div"> </div>
    </div>

        <div id="chart_div"></div>

{% endblock content %}