{% extends "studyplanner/base.html" %}
{% block content %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
<p></p>
<div class ="center">
<h1>{{ "ADD MILESTONE" }}</h1>
{% load crispy_forms_tags %}

{% block main %}
<form  method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <button  type="submit"  class="btn btn-success">Save Milestone</button>
    <button  type="submit"  name="Cancel" class="btn btn-success">Cancel</button>
    </form>
   </div>
{% endblock %}
{% endblock content %}