{% extends "studyplanner/base.html" %}

{% block content %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
{% load crispy_forms_tags %}

{% block main %}
<p> </p>
<div class ="center">
<form  method="post">
    {% csrf_token %}<br>
    <h4>{{ "Module:" }}{{ module.module_name }}<br>
    {{ "Assignment:" }}{{ coursework.cw_name }}</h4>

    {{ form|crispy }}

    <button  type="submit"  name="Add Task" class="btn btn-success">Add Task</button>
</form>
    <form method="post">
        {% csrf_token %} 
        <button  type="submit"  name="Cancel" class="btn btn-success">Cancel</button>
    </form>
</div>
{% endblock %}
{% endblock content %}